@media (max-width: 1400px) { /* XXL */

}
@media (max-width: 1200px) { /* XL */
	.main-slide-content{
		right: 140px;
	}
	.main-slider .owl-dots{
		right: 140px;
	}
	.slide-icons{
		left: 70px;
	}
	.main-slider .owl-next, .main-slider .owl-prev{
		right: 141px;
	}
}
@media (max-width: 1000px) { /*Custom Screen*/
	.navbar ul li{
		margin: 0 10px;
	}
	.search-user-icon,
	.navbar,
	.header-logo-block {
	    width: auto;
	}
	.header .row{
		justify-content: space-between;
	}
}
@media (max-width: 992px) { /* LG */
	.main-slider .owl-dots {
	    right: 90px;
	}
	.main-slide-content {
	    right: 90px;
	    bottom: 20px;
	}
	.main-slider-image-contant{
		height: 85vh;
	}
	.main-slider .owl-next, .main-slider .owl-prev {
	    right: 91px;
	}
	.main-slider .owl-next{
		top: 370px;
	}
	.main-slider .owl-prev {
	    top: 210px;
	}
	.col-6{
		max-width: 50%;
		width: 50%;
	}
	.horizontal-slide-nav .owl-nav {
	    width: 20%;
	}
}
@media (max-width: 768px) { /* MD */

	.header .row{
		align-items: center;
	}
	.search-user-icon{
		align-self: inherit;
	}
	#toggler{
		display: block;
	}
	.navbar{
		position: absolute;
		background-color: #000;
		left: 0;
		right: 0;
		top: 128px;
		height: 0;
		overflow: hidden;
		transition: all 0.5s ease 0s;
	}
	.navbar.navshow{
		height: 257px;
	}
	.navbar-nav{
		padding: 15px;
		/*display: flex;*/
		/*flex-direction: column;*/
	}
	.navbar .navs .navbar-nav li{
		display: block;
		margin: 6px 0;
	}
	.navbar .navs .navbar-nav .header-line{
		display: none;
	}
	.main-slider .owl-dots {
	    right: 48px;
	}
	.main-slide-content {
	    right: 40px;
	    width: 458px;
	}
	.slide-icons {
	    left: 40px;
	}
	.main-slider .owl-next, .main-slider .owl-prev {
	    right: 49px;
	}
	.col-3-5{
		width: 33.33%;
		max-width: 33.33%;
	}
	.first-footer-block .text-left{
		text-align: right;
	}
	.footer-block{
		margin-bottom: 30px;
	}
	.horizontal-slide-nav .owl-dots{
		width: 20%;
	    bottom: 220px;
	}

	.horizontal-slide-nav .owl-nav{
	    bottom: 220px;
		width: 22%;
	}
}
@media (max-width: 576px) { /* SM */
	
	.main-slide-content{
		width: auto;
		right: 10px;
	}
	.slide-icons{
		display: none;
	}
	.sm-col-100{
		max-width: 100%;
		width: 100%;
	}
	.col-3-5{
		width: 50%;
		max-width: 50%;
		text-align: right !important;
	}

	.horizontal-slide-nav .owl-dots{
		width: 22%;
	    bottom: 240px;
	}

	.horizontal-slide-nav .owl-nav{
	    bottom: 240px;
		width: 24%;
	}
}

@media (max-width: 440px){

	.horizontal-slide-nav .owl-dots{
		width: 24%;
	    bottom: 280px;
	}

	.horizontal-slide-nav .owl-nav{
	    bottom: 280px;
		width: 28%;
	}
}