@media (max-width: 1400px) { /* XXL */

}
@media (max-width: 1200px) { /* XL */
	.main-slider .owl-nav{
		right: 52px;
	}
	.main-slide-content{
		right: 140px;
	}
	.main-slider .owl-dots{
		right: 140px;
	}
	.slide-icons{
		left: 70px;
	}
}
@media (max-width: 1000px) { /*Custom Screen*/
	.navbar ul li{
		margin: 0 10px;
	}
	.search-user-icon,
	.navbar,
	.header-logo-block {
	    width: auto;
	}
	.header .row{
		justify-content: space-between;
	}
}
@media (max-width: 992px) { /* LG */
	.main-slider .owl-nav {
	    right: 2px;
	}
	.main-slider .owl-dots {
	    right: 90px;
	}
	.main-slide-content {
	    right: 90px;
	    bottom: 20px;
	}
	.main-slider-image-contant{
		height: 85vh;
	}
}
@media (max-width: 768px) { /* MD */

	.header .row{
		align-items: center;
	}
	.search-user-icon{
		align-self: inherit;
	}
	#toggler{
		display: block;
	}
	.navbar{
		position: absolute;
		background-color: #000;
		left: 0;
		right: 0;
		top: 128px;
		height: 0;
		overflow: hidden;
		transition: all 0.5s ease 0s;
	}
	.navbar.navshow{
		height: 257px;
		overflow: visible;
	}
	.navbar-nav{
		padding: 15px;
		/*display: flex;*/
		/*flex-direction: column;*/
	}
	.navbar .navs .navbar-nav li{
		display: block;
		margin: 6px 0;
	}
	.navbar .navs .navbar-nav .header-line{
		display: none;
	}
	.main-slider .owl-nav {
	    right: -40px;
	}
	.main-slider .owl-dots {
	    right: 48px;
	}
	.main-slide-content {
	    right: 40px;
	    width: 458px;
	}
	.slide-icons {
	    left: 40px;
	}
}
@media (max-width: 576px) { /* SM */
	.main-slider .owl-dots .owl-dot{
		display: none;
	}
	.main-slide-content{
		width: auto;
		right: 10px;
	}
	.slide-icons{
		display: none;
	}
	.main-slider .owl-nav {
	    position: absolute;
	    top: 42.5%;
	    transform: rotate(0);
	    margin: 0;
	    height: auto;
	    left: 0;
	    right: 0;
	    width: auto;
	}
	.main-slider .owl-next,
	.main-slider .owl-prev {
	    position: absolute;
	    /*right: 0;*/
	    margin: 0 !important;
	}
	.main-slider .owl-prev{
		left: 0;
	}
	.main-slider .owl-next{
		right: 0;
	}
}