:root{
	--black: #000;
	--yellow: #FFDA02;
	--dark: #15171A;
}
body{
	margin: 0;
	text-align: right;
	font-size: 16px;
}
*{
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
a{
	text-decoration: none;
	transition: all 0.5s ease 0s;
	color: #fff;
}
select:focus,
input:focus,
button:focus{
	outline: none;
}
section{
	padding: 80px 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.container{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
.position-relative{
	position: relative;
}
.w-100{
	width: 100%;
}
.d-inline-block{
	display: inline-block;
}
.d-block{
	display: block;
}
.row{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-: flex;
	display: flex;
}
.d-flex{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-: flex;
	display: flex;
}
.justify-content-center{
	justify-content: center;
}
.justify-content-between{
	justify-content: space-between;
}
.align-items-center{
	align-items: center;
}
.align-self-start{
	align-self: flex-start;
}
.p-0{
	padding: 0;
}
.text-color-b3{
	color: #B3B3B3;
}
.col-12{
	width: 100%;
	padding: 0 15px;
}
.col-6{
	max-width: 50%;
	width: 50%;
	padding: 0 15px;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.sec-hading{
	margin-bottom: 30px;
}
.sec-hading h2{
	color: #fff;
	font-size: 50px;
	display: inline-block;
}
.heading-side-icon{
	display: inline-block;
	width: 30px;
	margin-left: 20px;
}
.mt-0{
	margin-top: 0;
}
.col-3-5{
	max-width: 16.66%;
	width: 16.66%;
}
/*=================================================
================== Header CSS =================
========================================*/
.header{
	position: absolute;
	top: 0;
	z-index: 999;
	background-color: transparent;
	padding: 30px 0;
}
.navbar ul .header-line{
	margin: 0 10px;
}
.navbar ul .header-line a{
	color: var(--yellow);
}
.search-user-icon ul li{
	display: inline-block;
	margin-right: 12px;
}
.search-user-icon ul li a{
	color: #fff;
}
.navbar ul li{
	display: inline-block;
	margin: 0 20px;
}
.navbar ul li a{
	color: #fff;
	font-size: 22px;
}
.navbar-nav{
	transition: all 0.5s ease 0s;
}
.logo{
	width: 130px;
	display: inline-block;
}
.search-user-icon {
    width: 15%;
    text-align: left;
}
.navbar{
	width: 70%;
}
.header-logo-block{
	width: 15%;
}
#toggler{
	display: none;
	border-radius: 0;
	border:0;
	width: 27px;
	height: 27px;
	font-size: 18px;
	line-height: 0;
}
.header.fixed {
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;
    background-color: #000;
    animation: ooheader 1s 1 alternate;
}
@keyframes ooheader {
	0% {
	    top: -60px;
	}

	100% {
	    top: 0;
	}
}
/*=================================================
================== Banner CSS =================
========================================*/
.banner{
	margin-bottom: -10px;
	    vertical-align: bottom;
}
.simple-line{
	color: var(--yellow);
}
.main-slider-image-contant{
	height: 100vh;
	background-size: cover;
	background-position: center;
	color: #fff;
}
.slide-title{
	font-size: 24px;
}
.slide-heading{
	font-size: 48px;
}
.slide-text{
	font-size: 18px;
}
.main-slide-content{
	width: 558px;
	position: absolute;
	bottom: 50px;
	right: 250px;
}
.simple-line{
	margin: 0 11px;
}
.slide-folow-bar li{
	display: inline-block;
}
.slide-folow-bar li a{
	display: inline-block;
	color: var(--yellow);
	margin-left: 8px;
}
.slide-folow-bar{
	margin-top: 10px;
}
.slide-icons{
	position: absolute;
	left: 200px;
	top: 34%;
	z-index: 999;
}
.slide-icons li{
	margin: 12px 0;
}
.slide-icons li a {
    text-align: center;
    width: 25px;
    height: 27px;
    display: inline-block;
    line-height: 25px;
}
.main-slider .owl-dots .owl-dot{
	display: block;
	width: 20px;
	height: 20px;
	margin: 6px 0;
}

.main-slider .owl-dots{
	position: absolute;
	top: 40%;
	right: 250px;
}
.main-slider .owl-dots .owl-dot span{
	background-color: #fff;
	transition: all 0.5s ease 0s;
	height: 4px;
	width: 4px;
	margin: 0 auto;
	border-radius: 100%;
}
.main-slider .owl-dots .owl-dot.active span{
	background-color: var(--yellow);
	transform: scale(2);
	/*height: 8px;*/
	/*width: 8px;*/

}
.main-slider .owl-next, .main-slider .owl-prev {
    width: 16px;
    height: 20px;
    color: transparent !important;
    background-color: transparent !important;
    opacity: 1;
    bottom: 0;
    position: absolute;
    margin: 0 !important;
}
.main-slider .owl-next span:before, .main-slider .owl-prev span:before {
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: all 0.5s ease 0s;
}
.main-slider .owl-prev span:before {
    content: "\f077";
}
.main-slider .owl-next span:before {
    content: "\f078";
}
.main-slider .owl-prev {
    top: 257px;
}
.main-slider .owl-next {
    top: 409px;
}
.main-slider .owl-next, .main-slider .owl-prev{
	position: absolute;
	right: 251px;
	margin: 0;
}
/*=================================================
================== servide-type-se CSS =================
========================================*/
.servide-type-sec{
	background-color: #000;
	position: relative;
}
.main-slider-image-contant{
	z-index: 9999;
}
.main-slider-image-contant:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url('../images/Shadows.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgba(0,0,0,0.1);
}
.col-4{
	max-width: 33.33%;
	width: 33.33%;
	padding: 0 15px;
}
.service-box{
	background-color: var(--dark);
	margin-bottom: 30px;
}
.service-info{
	padding: 15px;
}
.section-image{
	line-height: 0;
}
.top-line-title-type{
	font-size: 16px;
	color: #fff;
}
.top-line-title-type .simple-line{
	margin: 0 8px;
}
.text{
	color: #9B9B9B;
	font-size: 18px;
	line-height: 21px;
}
.service-info h2 {
    color: #fff;
    font-size: 28px;
    margin: 12px 0 32px;
}
.service-box .slide-folow-bar {
    margin-top: 0;
    background-color: transparent;
    padding: 12px 15px;
    display: inline-block;
    width: 100%;
    position: relative;
    transition: all 0.5s ease 0s;
}
.wrap-row{
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

}
.service-extra-info-box{
	position: absolute;
	left: 15px;
}
.logo-part img{
	width: 12px;
}
.service-extra-info-box .text{
	font-size: 14px;
}
.logo-part{
	line-height: 0;
	vertical-align: baseline !important;
}
.service-extra-info-box ul li{
	vertical-align: text-bottom;
}
.service-box:hover .slide-folow-bar{
	background-color: #1F1F1F;
}
.slide-folow-bar.active{
	background-color: #1F1F1F;
}
.pluse-icon-text p a{
	color: var(--yellow);
	margin-left: 20px;
} 
.pluse-icon-text p{
	color: #636974;
	font-size: 24px;
}

/*=================================================
================== Video Sec CSS =================
========================================*/
.video-sec{
	background-color: #15171A;
}

/*=================================================
================== This Number CSS =================
========================================*/
.this-number{
	background-color: #000;
}
.this-number-third-box-num label{
	margin-bottom: 15px;
	display:inline-block;
}
.this-number-first-box .service-info h3{ 
	font-size: 24px;
	color: #fff;
	position: relative;
}
.this-number-first-box .service-info h3:before{
	content: "";
	display: block;
	position: absolute;
	right: -15px;
	height: 29px;
	width: 3px;
	background-color: var(--yellow);
}
.this-number-first-box .slide-folow-bar{
	background-color: transparent !important;
}
.this-number-first-box .service-info h2{
	font-size: 22px;
}
.small-thies-box-info{
	padding: 10px 0 10px 0;
}
.small-thies-box-img{
	line-height: 0;
}
.small-thies-box-info h2{
	font-size: 18px;
	color: #fff;
	margin-bottom: 15px;
}
.small-thies-box-info .text{
	font-size: 14px;
}
.small-thies-box-info .top-line-title-type{
	font-size: 14px;
}
.this-number-third-box label{
	margin-bottom: 20px;
	display: inline-block;
}
.this-number-box {
	margin-bottom: 30px;
}
.this-number .row  .col-4:last-child .this-number-box{
	margin-bottom: 0;
}
.heading-white h2{
	color: #000;
}
/*=================================================
================== Arabic Lenses Sec CSS =================
========================================*/
.lenses-slider-slide-info span{
	color: #636974;
	font-size: 18px;
}
.lenses-slider-slide-info p{
	color: #858383;
	font-size: 16px;
	line-height: 26px;
}
.lenses-slider-slide-info{
	margin-top: 36px;
}
.pluse-icon-text{
	margin-top: 15px;
}
.horizontal-slide-nav .owl-dots .owl-dot.active span{
	background-color: var(--yellow);
	transform: scale(2);
}
.horizontal-slide-nav  .owl-dots .owl-dot {
    width: 20px;
    height: 12px;
    margin: 6px 0;
}
.horizontal-slide-nav .owl-dots .owl-dot span {
    background-color: #fff;
    transition: all 0.5s ease 0s;
    height: 4px;
    width: 4px;
    margin: 0 auto;
    border-radius: 100%;
}
.horizontal-slide-nav .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 190px;
    width: 10%;
    margin: 0 auto;
}
.horizontal-slide-nav .owl-next span:before, .horizontal-slide-nav .owl-prev span:before {
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: all 0.5s ease 0s;
}
.horizontal-slide-nav .owl-next, .horizontal-slide-nav .owl-prev {
    width: 16px;
    height: 20px;
    color: transparent !important;
    background-color: transparent !important;
    opacity: 1;
    bottom: 0;
    position: absolute;
    margin: 0 !important;
}
.horizontal-slide-nav .owl-prev span:before {
    content: "\f053";
}
.horizontal-slide-nav .owl-next span:before {
    content: "\f054";
}
.horizontal-slide-nav .owl-nav{
	position: absolute;
    bottom: 190px;
    left: 7px;
    right: 0;
    margin: 0 auto;
    width: 12%;
}
.horizontal-slide-nav .owl-nav .owl-prev,
.horizontal-slide-nav .owl-nav .owl-next{
	position: absolute;
}
.horizontal-slide-nav .owl-nav .owl-prev {
    left: 0;
}
.horizontal-slide-nav .owl-nav .owl-next {
    right: 0;
}

/*=================================================
================== Footer CSS =================
========================================*/
.footer{
	background-color: #000;
	padding-top: 40px;
}
.backtotop-arrow-block a{ 
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 100%;
	color: #000;
	background-color: #454444;
	font-size: 18px;
}
.footer-block ul li a{
	font-size: 22px;
}
.footer-block ul li{
	margin: 0 0 10px;
}
.footer-block ul li a:hover{
	color: var(--yellow);
}
.footer-block h3{
	font-size: 26px;
	color: #fff;
}
.footer-block .footer-icon  ul li a{
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
}
.first-footer-block{
	max-width: 10%;
	width: 5%;
}
.footer-midle{
	padding: 65px 0 40px;
	border-bottom: 1px solid #707070;
}
.footer-bottom{
	padding: 20px 0;
}