:root{
	--black: #000;
	--yellow: #FFDA02;
	--dark: #15171A;
}
body{
	margin: 0;
	text-align: right;
	font-size: 16px;
}
*{
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
a{
	text-decoration: none;
	transition: all 0.5s ease 0s;
	color: #fff;
}
select:focus,
input:focus,
button:focus{
	outline: none;
}
section{
	padding: 80px 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.container{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
.position-relative{
	position: relative;
}
.w-100{
	width: 100%;
}
.d-inline-block{
	display: inline-block;
}
.d-block{
	display: block;
}
.row{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-: flex;
	display: flex;
}
.d-flex{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-: flex;
	display: flex;
}
.justify-content-center{
	justify-content: center;
}
.justify-content-between{
	justify-content: space-between;
}
.align-items-center{
	align-items: center;
}
.align-self-start{
	align-self: flex-start;
}
.p-0{
	padding: 0;
}
/*=================================================
================== Header CSS =================
========================================*/
.header{
	position: absolute;
	top: 0;
	z-index: 999;
	background-color: transparent;
	padding: 30px 0;
}
.navbar ul .header-line{
	margin: 0 10px;
}
.navbar ul .header-line a{
	color: var(--yellow);
}
.search-user-icon ul li{
	display: inline-block;
	margin-right: 12px;
}
.search-user-icon ul li a{
	color: #fff;
}
.navbar ul li{
	display: inline-block;
	margin: 0 20px;
}
.navbar ul li a{
	color: #fff;
	font-size: 22px;
}
.logo{
	width: 130px;
	display: inline-block;
}
.search-user-icon {
    width: 15%;
    text-align: left;
}
.navbar{
	width: 70%;
}
.header-logo-block{
	width: 15%;
}
#toggler{
	display: none;
	border-radius: 0;
	border:0;
	width: 27px;
	height: 27px;
	font-size: 18px;
	line-height: 0;
}

/*=================================================
================== Banner CSS =================
========================================*/
.banner{
}
.simple-line{
	color: var(--yellow);
}
.main-slider-image-contant{
	height: 100vh;
	background-size: cover;
	background-position: center;
	color: #fff;
}
.slide-title{
	font-size: 24px;
}
.slide-heading{
	font-size: 48px;
}
.slide-text{
	font-size: 18px;
}
.main-slide-content{
	width: 558px;
	position: absolute;
	bottom: 50px;
	right: 250px;
}
.simple-line{
	margin: 0 11px;
}
.slide-folow-bar li{
	display: inline-block;
}
.slide-folow-bar li a{
	display: inline-block;
	color: var(--yellow);
	margin-left: 8px;
}
.slide-folow-bar{
	margin-top: 10px;
}
.slide-icons{
	position: absolute;
	left: 200px;
	top: 40%;
}
.slide-icons li{
	margin: 7px 0;
}
.slide-icons li a {
    text-align: center;
    width: 25px;
    height: 27px;
    display: inline-block;
    line-height: 25px;
}
.main-slider .owl-dots .owl-dot{
	display: block;
}
/*=================================================
================== servide-type-se CSS =================
========================================*/
.servide-type-sec{
	background-color: #000;
	position: relative;
}
.main-slider-image-contant{
	z-index: 9999;
}
.main-slider-image-contant:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(255,255,255,0.6), rgba(0,0,0,0.5));
	/*z-index: -1;*/
	opacity: 0.8;
	background-color: rgba(0,0,0,0.9);
}
.col-4{
	width: 33.33%;
	padding: 0 15px;
}
.service-box{
	background-color: var(--dark);
}
.service-info{
	padding: 15px;
}
.main-slider .owl-dots{
	position: absolute;
	top: 40%;
	right: 250px;
}
.main-slider .owl-dots .owl-dot span{
	background-color: #fff;
	transition: all 0.5s ease 0s;
}
.main-slider .owl-dots .owl-dot.active span{
	background-color: var(--yellow);
	transform: scale(1.3);
}
.main-slider .owl-next, .main-slider .owl-prev {
    width: 30px;
    height: 30px;
    color: transparent !important;
    background-color: transparent !important;
    opacity: 1;
    bottom: 0;
}
.main-slider .owl-next span:before, .main-slider .owl-prev span:before {
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: all 0.5s ease 0s;
}
.main-slider .owl-prev span:before {
    content: "\f053";
}
.main-slider .owl-next span:before {
    content: "\f054";
}
.main-slider .owl-prev {
    margin-right: 80px !important;
}
.main-slider .owl-nav {
    position: absolute;
    top: 42.5%;
    right: 162px;
    transform: rotate(-90deg);
    margin: 0;
    height: 40px;
    width: 200px;
}